@mixin button{
    margin-left: 16px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: rgb(13, 129, 130);
    color: white;
    &:hover{
        background-color: rgb(0, 164, 164);
    }
};

@mixin darkButton{
    padding: 11px 15px;
    border: 1px solid rgb(13, 129, 130);
    color: white;
    border-radius: 4px;
    background-color: transparent;
    &:hover{
        border-color: rgb(0, 164, 164);
        background-color: rgb(0, 164, 164);
    }
}

@mixin flex($display, $direction, $justfy, $align, $wrap, $gap){
    display: $display;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
}
// DEFAULT
// @include  flex(flex, row, baseline, baseline, nowrap, 0);