// COLORS
$bgLineUp: rgb(38, 54, 64);
$textLineUp: rgb(191, 194, 207);
$primaryColor: rgb(13, 129, 130);
$nex: rgb(0, 164, 164);
$bgSectionLight: rgb(237,244,236);
$primaryBg: rgba(13, 128, 130, 0.232);